<%= form_with(model: annonce, local: true, :html => {:class => "form-horizontal center"}) do |form| %>

  <% if annonce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annonce.errors.count, "error") %> prohibited this annonce from being saved:</h2>

      <ul>
      <% annonce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="form-group">
    <%= form.label :title, "Titre :", class: "col-md-4 control-label"%>
    <div class="col-md-4">
    <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description :", class: "col-md-4 control-label"%>
    <div class="col-md-4">
    <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :image, "Image :", class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= form.file_field :image%>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :location, "Lieux :", class: "col-md-4 control-label"%>
    <div class="col-md-4">
    <%= form.text_area :location, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :condition, "Etat de l'objet :", class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= form.text_field :condition, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status, "Status de l'objet :", class: "col-md-4 control-label" %>
    <div class="col-md-4">
    <%= form.text_field :status, class: "form-control"  %>
    </div>
  </div>

 <center>
    <%= form.submit :Valider, class: 'btn btn-primary' %>
</center>


<% end %>
