<p id="notice"><%= notice %></p>

<h1>Annonces</h1>

<form class="navbar-form navbar-left">
<%= form_tag root_path, :method => 'get' do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "search" %>
<% end %>
</form>


<div class="row">
<% @annonces.each do |annonce| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3><%= annonce.title %></h3>
        <p><%= annonce.description %></p>
        <%= link_to '<div class="btn btn-primary">Voir annonce</div>'.html_safe, annonce %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<%= paginate @annonces %>

